{% extends "designer/base.html" %}
{% block content %}

<div class="card page-card" style="text-align: center;">
    <h2>About this project</h2>
    
    <p>
        This tool was developed by the Bioinformatics and Translational Genetics Group 
        (Dominik Seelow). 
    </p>
    <p>
        <strong>For questions, feel free to reach out.</strong>
    </p>

    <div style="margin-top: 1rem;">
        <a href="https://www.bihealth.org/de/forschung/arbeitsgruppe/ag-seelow-bioinformatik-und-translationale-genetik"
           target="_blank"
           class="btn"
           style="margin-right: 10px;">
            Contact BTG Group
        </a>

        <a href="https://github.com/KuechlerO/SWP2026-CRISPR-Tool"
           target="_blank"
           class="btn">
            Git Repository
        </a>
    </div>
</div>

{% endblock %}