{% extends "designer/base.html" %}

{% block content %}
<div class="card page-card results-card" style="text-align: center; padding: 40px;">

    <h2>Running Analysis</h2>

    <p style="margin-top: 10px;">
        Your guide RNA candidates are being generated.<br>
        This may take a few seconds.
    </p>

    <!-- Spinner -->
    <div class="spinner-modern"></div>

    <p class="help-text" style="margin-top: 20px;">
        Please do not refresh the page.
    </p>

    <!-- hidden Form -->
    <form id="hiddenForm" method="POST" action="{% url 'results' %}">
        {% csrf_token %}
        {% for key, values in request.POST.lists %}
            {% for value in values %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endfor %}
        {% endfor %}
    </form>

</div>

<script>
    // kleiner Delay für smoother UX
    setTimeout(function() {
        document.getElementById('hiddenForm').submit();
    }, 300);
</script>

{% endblock %}
